body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba 0, 0, 0, 0.2 ;
}
#valor{
    font-size: 40px;
    display: block;
    margin: 20px 0;
}
.botoes button{
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
#aumentar{
    background-color: #4caf50;
    color: white;
}
#diminuir{
    background-color: #f44336;
    color: white;
}
#resetar{
    background-color: #697d88;
    color: white;
}